# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars.local
*.tfplan
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
